* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* Landing page video  */
.LandingVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; 
} 

.Vid-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background:whitesmoke;
    opacity: .40;
    z-index: 1;
}

/* Landing page Mission statement  */
.content {
    position: absolute;
    text-align: center;
    top: 15%;
    background-color: transparent;
    color: black;
    width: 100%;
    overflow: hidden;
    z-index: 2;
} 

.content h1 {
    font-size: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 8rem;
}

/* Landing Page Nav  */
#landing-nav__open {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    color:  white;
    font-size: 2rem;
    z-index: 3;
    animation-name: glow;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {
        color: white;
    }
    50% {
        color :#ff3d25;
    }
    100% {
        color: white;
    }
}

#landing-nav__open:hover {
    cursor: pointer;
}

.landing-nav {
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 20rem;
    padding: 3rem 3.75rem;
    background-color: #1E2122;
    animation-name: closeNav;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}



#landing-nav__close {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}


.landing-nav__close__icon{
    color: white;
    font-size: 2rem;
    font-weight: 100;
    transition: all 0.3s;

}

.landing-nav__close__icon:hover {
    cursor: pointer;
    transform: translateX(-0.1rem);
    color: #ff3d25;
}

.landing-nav__list__item__container {
    margin-bottom: 3rem;
    list-style-type: none;
    text-align: right;
    animation-name: lowerIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.landing-nav__list__item {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: #1E2122 1px solid;
    transition: all 0.6s;
    text-decoration: none;
}

.landing-nav__list__item:hover {
    cursor: pointer;
    border-bottom: white 1px solid;
}



#landing-nav-social-container {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    padding: 0 3rem;
    animation-name: lowerIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

#landing-nav-social-container a {
    margin: 1rem 0;
}

#landing-nav-social__text{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 0.6rem;
    font-weight: 100;
}


.landing-nav-social {
    text-align: center;
    width: 20%;
    color: white;
}

.landing-nav-social:hover {
    cursor: unset;
    
}

.landing-nav-social i {
    transition: all 0.3s;
}

.landing-nav-social i:hover {
    cursor: pointer;
    color: #ff3d25;
}

/* Navbar  */



.navbar, .responsive-navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    z-index: 2;
}

.navbar-link, .navbar-link-donate, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    margin: 0;
    display: inline-block;
    padding: 0 1.5rem;
    height: 3rem;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

#navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    font-weight: 900;
}

.navbar-link, .navbar-link-logo {
    vertical-align: middle;
    line-height: 3rem;
}



.navbar-link:hover {
    transition: all 0.8s;
    background-color: #f3f3f3;
}

.navbar-link, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    float: left;
}

.navbar-link-donate {
    margin: 0.5rem 0;
    float: right;
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #47525f;
    border: 1px solid transparent;
    color: white;
   
}

.navbar-link-donate a {
    text-decoration: none;
    color: white;
}

.navbar-link-donate a:link,
.navbar-link-donate a:visited {
    text-decoration: none;
    color: white;
}


/* Responsive navbar  */

.responsive-navbar {
    display: none;
}

#navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    padding: 1rem 1.5rem;
}



/* FOOTER */

.page-footer {
    width: 100%;
    height: 100px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
  }
  
  
  
  .inner-footer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    color: white;
    display: table;
  }
  
  .inner-footer a {
    color: white;
    display: inline-block;
  }
  
  i {
    font-size: 20px;
    text-align: center;
    padding: 6px 6px;
    display: inline-block;
  }
  
  .logo {
    height: 100%;
    display: table;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  i:hover {
    color: gray;
    cursor: pointer;
  }
  
  footer p {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }

/*---About page styling---*/
h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif  ;
    text-align: center;
}

.missionstate{
    position: relative;
    margin-top: 3rem;
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(https://images.unsplash.com/photo-1564175678192-af94ad896ebf);
    width:100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
   }

   .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 1.5rem;
  } 
  
  /* Navbar responsive  */


.overlay {
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100vw;
    color: white;
    display: none;
    animation-name: open-res-nav;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.overlay-container {
    padding-top: 15%;
    width: 100%;
    animation-name: showNavContent;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}


.responsive-navbar-link-logo {
    display: block;
    text-align: center;
}

.responsive-navbar-link-logo  i {
    font-size: 6rem;
    color: black;
}

.responsive-navbar-link {
    z-index: 1;
    display: block;
    text-align: center;
    color: black;
    margin: 1.5rem 0;
    text-decoration: none;
}

.lineBreak {
    width: 100%;
}

#navbar-responsive-toggle-open {
    display: block;
}

#navbar-responsive-toggle-close {
    display: none;
}

.overlay-container {
    height: 100%;
}


.active {
    background-color: #f3f3f3;
}

@media screen and (max-width: 91rem) {
    .contact-body__column__img {
        width: 100%;
    }
}

@media screen and (max-width: 68rem) {
    .contact-body {
        padding: 0;
        flex-direction: column-reverse;
    }

    .contact-body__column {
        padding-top: 0;
        width: 100%;
    }

    #img-column {
        padding: 2rem;
    }

    .contact-body__column__img {
        display: none;
    }
}

@media screen and (max-width: 44rem) {
    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: inline-block;
    }

    .page-footer {
        height: auto;
    }
}


@keyframes open-res-nav {
    0% {
        display: block;
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

@keyframes close-res-nav {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
        display: none ;
    }
}

@keyframes showNavContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideNavContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes openNav {
    0% {
        display: inline;
        transform: translateX(-20rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeNav {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20rem);
        display: none;
    }
}

h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif  ;
    text-align: center;
}