* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* Navbar  */

.navbar, .responsive-navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    z-index: 2;
}

.navbar-link, .navbar-link-donate, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    margin: 0;
    display: inline-block;
    padding: 0.9rem 1.5rem;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    

}

.navbar-link:hover {
    transition: all 0.8s;
    background-color: #f3f3f3;
}

.navbar-link, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    float: left;
}

.navbar-link-donate {
    margin: 0.5rem 0;
    float: right;
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #47525f;
    border: 1px solid transparent;
    color: white;
    
}


/* Responsive navbar  */

.responsive-navbar {
    display: none;
}

#navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    padding: 1rem 1.5rem;
}

/* Main body  */

.main-contact {
    height: 55vh;
    padding-top: 3rem;
}

/* Header  */

.contact-header {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba(36, 38, 42, 0.384),
        rgba(55, 58, 63,  0.384)),
        url("https://images.pexels.com/photos/1181208/pexels-photo-1181208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.contact-header__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5rem;
}

/* Body  */

.contact-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3rem 3rem 3rem;
}

.contact-body__column {
    width: 50%;
    padding: 5rem;
}

.contact-body__column__title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

#img-column {
    padding: 5rem;
    position: relative;
    text-align: center;
}


.form-label, .form-input, .form-input__comment {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.form-input, .form-input__comment, .form-input__button {
    border: solid transparent 1px;
    background-color: #EFF4F8;
    padding: 0.5rem;
    border-radius: 20px;
}

.form-input__comment {
    height: 15vh;
    max-width: 100%;
    max-height: 15vh;
}

/* Form  */

.form-input {
    font-family: inherit;
}

.form-input {
    display: inline-block;
}

.form-input__button {
    background-color: #446DB5;
    color: white;
    width: 100%;
    padding: 0.7rem;
}


/* image  */

.contact-body__column__img {
    height: auto;
    width: 80%;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 91rem) {
    .contact-body__column__img {
        width: 100%;
        /* margin-top: 6rem; */
    }
}

@media (max-width: 68rem) {
    .contact-body {
        flex-direction: column-reverse;
    }

    .contact-body__column {
        width: 100%;
        padding-top: 1rem;
    }

    #img-column {
        padding: 2rem;
    }

    .contact-body__column__img {
        display: none;
    }
}

/* Navbar responsive  */

@media (max-width: 44rem) {
    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: inline-block;
    }

}


.overlay {
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100vw;
    color: white;
    display: none;
    animation-name: open-res-nav;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.overlay-container {
    padding-top: 15%;
    width: 100%;
    animation-name: showNavContent;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes open-res-nav {
    0% {
        display: block;
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

@keyframes close-res-nav {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
        display: none ;
    }
}

@keyframes showNavContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideNavContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.responsive-navbar-link-logo {
    display: block;
    text-align: center;
}

.responsive-navbar-link-logo  i {
    font-size: 6rem;
    color: black;
}

.responsive-navbar-link {
    z-index: 1;
    display: block;
    text-align: center;
    color: black;
    margin: 1.5rem 0;
}


.lineBreak {
    width: 100%;
}

#navbar-responsive-toggle-open {
    display: block;
}

#navbar-responsive-toggle-close {
    display: none;
}

.overlay-container {
    height: 100%;
}