/* Main body  */

.main-contact {
    height: 55vh;
    padding-top: 3rem;
}

/* Header  */

.contact-header {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba(36, 38, 42, 0.384),
        rgba(55, 58, 63,  0.384)),
        url("https://images.pexels.com/photos/1181208/pexels-photo-1181208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.contact-header__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5rem;
}

/* Body  */

.contact-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3rem 3rem 3rem;
}

.contact-body__column {
    width: 50%;
    padding: 5rem;
}

.contact-body__column__title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

#img-column {
    padding: 5rem;
    position: relative;
    text-align: center;
}


.form-label, .form-input, .form-input__comment {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.form-input, .form-input__comment, .form-input__button {
    border: solid transparent 1px;
    background-color: #ebf0f3;
    padding: 0.5rem;
    border-radius: 20px;
}

.form-input:focus, 
.form-input__comment:focus, 
.form-input__button:focus {
    outline-style: none;
}

.form-input__button:hover {
    cursor: pointer;
    background-color: #5487e0;
}

.form-input__button:focus {
    background-color: #446DB5;
}

.form-input:focus, 
.form-input__comment:focus {
    background-color: #e1edf5;
}


.form-input__comment {
    height: 15vh;
    max-width: 100%;
    max-height: 15vh;
}

/* Form  */

.form-input {
    font-family: inherit;
}

.form-input {
    display: inline-block;
}

.form-input__button {
    background-color: #446DB5;
    color: white;
    width: 100%;
    padding: 0.7rem;
}


/* image  */

.contact-body__column__img {
    height: auto;
    width: 80%;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 91rem) {
    .contact-body__column__img {
        width: 100%;
    }
}

@media screen and (max-width: 68rem) {
    .contact-body {
        padding: 0;
        flex-direction: column-reverse;
    }

    .contact-body__column {
        padding-top: 0;
        width: 100%;
    }

    #img-column {
        padding: 2rem;
    }

    .contact-body__column__img {
        display: none;
    }
}




