body, html {
    background-color:#EAEAEA;
	height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 17px;
    }
}

h2 {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 15px;
    }
}

p {
    display: inline-block;
    padding: 15px 10px;
    font-size: 17px;
    border-radius: 0px;
    line-height: 1.5rem;
}

@media screen and (max-width: 500px) {
    p{
        font-size: 13px;
    }
}

/* Navbar  */

.navbar, .responsive-navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    align-items: center;
    margin: 0;
    z-index: 2;
}

.navbar-link, .navbar-link-donate, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    margin: 0;
    display: inline-block;
    padding: 0 1.5rem;
    height: 3rem;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

.navbar-link, .navbar-link-logo {
    vertical-align: middle;
    line-height: 3rem;
}



.navbar-link:hover {
    transition: all 0.8s;
    background-color: #f3f3f3;
}

.navbar-link, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    float: left;
}

.navbar-link-donate {
    margin: 0.5rem 0;
    float: right;
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #47525f;
    border: 1px solid transparent;
    color: white;
}

/* Responsive navbar  */

.responsive-navbar {
    display: none;
}

#navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    padding: 1rem 1.5rem;
}

/* Navbar responsive  */

@media screen and (max-width: 44rem) {
    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: inline-block;
    }
}

.overlay {
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100vw;
    color: white;
    display: none;
    animation-name: open-res-nav;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.overlay-container {
    padding-top: 15%;
    width: 100%;
    animation-name: showNavContent;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}


.responsive-navbar-link-logo {
    display: block;
    text-align: center;
}

.responsive-navbar-link-logo  i {
    font-size: 6rem;
    color: black;
}

.responsive-navbar-link {
    z-index: 1;
    display: block;
    text-align: center;
    color: black;
    margin: 1.5rem 0;
    text-decoration: none;
}

.lineBreak {
    width: 100%;
}

#navbar-responsive-toggle-open {
    display: block;
}

#navbar-responsive-toggle-close {
    display: none;
}

.overlay-container {
    height: 100%;
}

/*custom container*/
.darkContainer {
    display: inline-block;
    background-color:#444751;
    color: white;
    text-align: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin: 0rem;
    padding-bottom: 4rem;
}

.textContainer {
    display: inline-block;
    width: 300px;
    padding: 2rem;
}

@media screen and (min-width: 600px) {
    .textContainer {
        width: 450px;
        padding: 4rem;
    } 
}

/* Body  */

.donation-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
}

.donation-body__column {
    width: 50%;
    padding: 5rem;
}

.donation-body__column__title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

/*Form*/
.form-label, .form-input__comment {
    display: block;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.form-input__comment, .form-input__button {
    border: solid transparent 1px;
    background-color: #ebf0f3;
    margin: 10px;
    padding: 0.5rem;
    border-radius: 10px;
}

.form-input {
    width: 100%;
    border: solid transparent 1px;
    background-color: #ebf0f3;
    padding: 0.5rem;
    border-radius: 10px;
}

.form-input:focus, 
.form-input__comment:focus, 
.form-input__button:focus {
    outline-style: none;
}

.form-input__button:hover {
    cursor: pointer;
    background-color: #5487e0;
}

.form-input__button:focus {
    background-color: #446DB5;
}

.form-input:focus, 
.form-input__comment:focus {
    background-color: #e1edf5;
}


.form-input__comment {
    height: 15vh;
    max-width: 100%;
    max-height: 15vh;
}

#custom-amount{
    text-align: center;
}

/* Form  */

.form-input {
    font-family: inherit;
}

.form-input {
    display: inline-block;
}

.form-input__button {
    background-color: #446DB5;
    color: white;
    width: 100px;
    /* padding: 0.7rem; */
}

@media screen and (min-width: 600px) {
    .form-input__button {
        width: 150px;
    }
}

footer {
    width: 100%;
    height: 85px;
    /* bottom: 0;
    margin: 0;
    padding: 0; */
    background-color: black;
    /* position: absolute; */
  }

  @keyframes open-res-nav {
    0% {
        display: block;
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

@keyframes close-res-nav {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
        display: none ;
    }
}

@keyframes showNavContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideNavContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes openNav {
    0% {
        display: inline;
        transform: translateX(-20rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeNav {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20rem);
        display: none;
    }
}

@keyframes lowerIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}