
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* Navbar  */

.navbar, .responsive-navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    z-index: 2;
}

.navbar-link, .navbar-link-donate, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    margin: 0;
    display: inline-block;
    padding: 0.89rem 1.5rem;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar-link:hover {
    transition: all 0.8s;
    background-color: #f3f3f3;
}

.navbar-link, .navbar-link-logo, #navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    float: left;
}

.navbar-link-donate {
    margin: 0.5rem 0;
    float: right;
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #47525f;
    border: 1px solid transparent;
    color: white;
}


/* Responsive navbar  */

.responsive-navbar {
    display: none;
}

#navbar-responsive-toggle-open, #navbar-responsive-toggle-close {
    padding: 1rem 1.5rem;
}

/* Main body  */

.main-contact {
    height: 55vh;
    padding-top: 3rem;
}

/* Header  */

.contact-header {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba(36, 38, 42, 0.384),
        rgba(55, 58, 63,  0.384)),
        url("https://images.pexels.com/photos/1181208/pexels-photo-1181208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.contact-header__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5rem;
}

/* Body  */

.contact-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3rem 3rem 3rem;
}

.contact-body__column {
    width: 50%;
    padding: 5rem;
}

.contact-body__column__title {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

#img-column {
    padding: 5rem;
    position: relative;
    text-align: center;
}


.form-label, .form-input, .form-input__comment {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.form-input, .form-input__comment, .form-input__button {
    border: solid transparent 1px;
    background-color: #EFF4F8;
    padding: 0.5rem;
    border-radius: 20px;
}

.form-input__comment {
    height: 15vh;
    max-width: 100%;
    max-height: 15vh;
}

/* Form  */

.form-input {
    font-family: inherit;
}

.form-input {
    display: inline-block;
}

.form-input__button {
    background-color: #446DB5;
    color: white;
    width: 100%;
    padding: 0.7rem;
}


/* image  */

.contact-body__column__img {
    height: auto;
    width: 80%;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 91rem) {
    .contact-body__column__img {
        width: 100%;
    }
}

@media (max-width: 68rem) {
    .contact-body {
        padding: 0;
        flex-direction: column-reverse;
    }

    .contact-body__column {
        width: 100%;
    }

    #img-column {
        padding: 2rem;
    }

    .contact-body__column__img {
        display: none;
    }
}

/* Navbar responsive  */

@media (max-width: 44rem) {
    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: inline-block;
    }

}


.overlay {
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100vw;
    color: white;
    display: none;
    animation-name: open-res-nav;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.overlay-container {
    padding-top: 15%;
    width: 100%;
    animation-name: showNavContent;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes open-res-nav {
    0% {
        display: block;
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

@keyframes close-res-nav {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
        display: none ;
    }
}

@keyframes showNavContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideNavContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.responsive-navbar-link-logo {
    display: block;
    text-align: center;
}

.responsive-navbar-link-logo  i {
    font-size: 6rem;
    color: black;
}

.responsive-navbar-link {
    z-index: 1;
    display: block;
    text-align: center;
    color: black;
    margin: 1.5rem 0;
}


.lineBreak {
    width: 100%;
}

#navbar-responsive-toggle-open {
    display: block;
}

#navbar-responsive-toggle-close {
    display: none;
}

.overlay-container {
    height: 100%;
}




/* Landing Page Nav  */
#landing-nav__open {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    color: #1E2122;
    font-size: 2rem;
    z-index: 1;
}

#landing-nav__open:hover {
    cursor: pointer;
}

.landing-nav {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 20rem;
    padding: 3rem 3.75rem;
    background-color: #1E2122;
    animation-name: closeNav;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}


@keyframes openNav {
    0% {
        display: inline;
        transform: translateX(-20rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeNav {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20rem);
        display: none;
    }
}


#landing-nav__close {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}


.landing-nav__close__icon{
    color: white;
    font-size: 2rem;
    font-weight: 100;
    transition: all 0.3s;

}

.landing-nav__close__icon:hover {
    cursor: pointer;
    transform: translateX(-0.1rem);
    color: #ff3d25;
}

.landing-nav__list__item__container {
    margin-bottom: 3rem;
    list-style-type: none;
    text-align: right;
    animation-name: lowerIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.landing-nav__list__item {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: #1E2122 1px solid;
    transition: all 0.6s;
    text-decoration: none;
}

.landing-nav__list__item:hover {
    cursor: pointer;
    border-bottom: white 1px solid;
}



#landing-nav-social-container {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 3rem;
    animation-name: lowerIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

#landing-nav-social-container a {
    margin: 1rem 0;
}

#landing-nav-social__text{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 0.6rem;
    font-weight: 100;
}

@keyframes lowerIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.landing-nav-social {
    text-align: center;
    width: 20%;
    color: white;
}

.landing-nav-social:hover {
    cursor: unset;
    
}

.landing-nav-social i {
    transition: all 0.3s;
}

.landing-nav-social i:hover {
    cursor: pointer;
    color: #ff3d25;
}

/*---About page styling---*/
h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif  ;
    text-align: center;
}

.missionstate{
    position: relative;
    margin-top: 50px;
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(https://images.unsplash.com/photo-1564175678192-af94ad896ebf);
    width:100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
   }

   .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 1.5rem;
  } 